.App {
  text-align: center;
  background-color: black;
  color: green;
}

.box {
  color: green;
  background-color: gainsboro;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

.footer {
  background-color: #660000;
  margin-top: 1em;
}

.video {
  width: 100%;
  height: 90%;
}

.Home-video {
  height: 50vh;
}

.video iframe{
  height: 100%;
  width: 75%;
}

.temperature-sample {
    font-size: 3vh;
    color: cyan;
    text-shadow: 0 0 3px darkcyan;
}

.container {
  position: relative;
}

.section {
  padding-bottom: 0%;
}

.App-header {
  height: 66vh;
  background-image: url("https://www.umblat.ro/content/event/2015/12/03/18801/petrecerea-lawrence-club-lasertag-si-jocuri-14491341764270-resize.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: Orbitron;
  font-style: italic; 
  padding: 2em;
  color: white;
}

.home-title {
  font-size: 7vh;
  color: green;
  text-shadow: 2px 2px limegreen;
}

.title {
  color: green;
}

.columns {
  margin-right: 10%;
  margin-left: 10%;
}

.App-intro {
  font-size: large;
}

nav{
  font-size: large;
}

span.name {
  font-size: 200%;
}

span.avatar{
  width: 100%;
  height: 200px;
  display: inline-block;
  position: relative;
}

span.avatar img{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto; 
  height: auto; 
  max-width: 100%; 
  max-height: 100%; 
  margin: auto auto 0;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.events {
  color: green;
}

.events .name {
  font-size: 2.5em;
  display: block;
}

.Home-page hr {
  width: 100%;
  size: 5em;
}

.Events li {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.Hours, .Costs {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
}

.Price-pic, .Laser-watch{
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  display: inline-block;
}

.Price-pic img, .Laser-watch img{
  width: 33vh;
  height: auto;
}

.About {
  margin-left: 15%;
  margin-right: 15%;
  color: green;
  text-align: center;
}

.Welcome, .History{
  margin: auto;
  box-sizing: border-box;
  text-align: left;
  width: 100%;
  padding: 5%;
}

.History h3 {
  text-align: center;
}

.Welcome-pic img{
  width: 33%;
  margin: auto;
}

.Membership-vid {
  margin-left: 20%;
  margin-right: 20%;
  padding: 5%;
  height: 80vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
